$white-color:#fff;
$gray-color: #f6f5f1;
$black-color: "#000";
$yellow-color: #ffd059;
$blue-color: #5786ff;

$primary-boder-color:$white-color;
$pin-pad-bg-color: $blue-color;
$button-bg-color: $yellow-color;
$button-color: $black-color;
$code-color: $black-color;
$border-screen-color:$white-color;
$screen-value-color:$white-color;